@model List<Dish>

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center"><a asp-action="Index">Chefs</a> | Dishes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-success mb-3" asp-action="NewDish">Add a Dish</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3 class="text-center">Yum, take a look at our tasty dishes!</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Dish Name</th>
                        <th>Chef</th>
                        <th>Tastiness</th>
                        <th>Calories</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(Dish dish in Model)
                    {
                        <tr>
                            <td>@dish.DishName</td>
                            <td>@dish.Creator.FirstName @dish.Creator.LastName</td>
                            <td>@dish.Tastiness</td>
                            <td>@dish.Calories</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>