@model Wedding

<div class="container">
    <div class="row">
        <div class="col-10 mb-5 p-0">
            <h1>@Model.WedderOne and @Model.WedderTwo's Wedding</h1>
        </div>
        <div class="col-1">
            <a asp-controller="Home" asp-action="Dashboard">Dashboard</a>
        </div>
        <div class="col-1">
            <a asp-controller="Home" asp-action="Logout">Log Out</a>
        </div>
    </div>

    <div class="row mb-2">
        <h2>Date: @Model.Date.ToString("MMM dd, yyyy")</h2>
    </div>

    <div class="row mb-2">
            <h2>Address: @Model.Address</h2>
    </div>

    <div class="row mb-2">
        <h2>Guests:</h2>
    </div>

    <div class="row">
        @foreach (var item in @Model.Attendees)
        {
            <li>@item.Attendee.FirstName @item.Attendee.FirstName</li>
        }
    </div>
</div>