<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dojodachi</title>
</head>
<body>
    <div class="container">
        <div class="status_bar">
            <p>Fullness: @ViewBag.Fullness</p>
            <p>Happiness: @ViewBag.Happiness</p>
            <p>Meals: @ViewBag.Meals</p>
            <p>Energy: @ViewBag.Energy</p>
        </div>
        <div class="pic_box">
            <img src="~/a_dog.png" alt="image">
            <p>@ViewBag.Message</p>
        </div>
        <div class="buttons">
            @if(ViewBag.Fullness >= 100 && ViewBag.Happiness >= 100 && ViewBag.Energy >= 100)
            {
                <div>
                    <form action="/new_game" method="post">
                        <button type="submit">Restart?</button>
                    </form>
                </div>
            }
            else if(ViewBag.Fullness <= 0 || ViewBag.Happiness <= 0)
            {
                <div>
                    <form action="/new_game" method="post">
                        <button type="submit">Restart?</button>
                    </form>
                </div>
            }
            else
            {
                <div>
                    <form action="/feed" method="post">
                        <button type="submit">Feed</button>
                    </form>
                    <form action="/play" method="post">
                        <button type="submit">Play</button>
                    </form>
                    <form action="/work" method="post">
                        <button type="submit">Work</button>
                    </form>
                    <form action="/sleep" method="post">
                        <button type="submit">Sleep</button>
                    </form>
                </div>
            }
        </div>
    </div>
</body>
</html>